.clients {
    padding-top: 40px;
    padding-bottom: 70px;
    background-color: #02AD76;

    @include breakpoint(large) {
        padding-top: 53px;
        padding-bottom: 153px;
    }

    &__title {
        margin-bottom: 34px;

        @include breakpoint(large) {
            margin-bottom: 70px;
        }
    }

    &__text {
        text-align: left;
        margin-bottom: 30px;

        @include breakpoint(large) {
            width: 90%;
            font-size: 18px;
            padding-top: 23px;
            padding-right: 30px;
            line-height: 1.7;
        }
    }


    &__box-img {
        background-image: url(~img/client.png);
        height: 60px;
        width: 60px;
        margin-right: 15px;

        @include breakpoint(large) {
            width: 340px;
            height: 340px;
            background-image: url(~img/client-main.jpg);
            margin-right: 0;
        }
    }



    &__box-person {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 40px;
    }

    &__name {
        color: white;
        font-size: 14px;
        font-family: $font-family;
        font-weight: 1000;
        position: relative;
        top: 10px;

        @include breakpoint(large) {
            display: none;
        }

    }

    &__city {
        color: white;
        font-size: 14px;
        font-family: $font-family;
        position: relative;
        bottom: 15px;

        @include breakpoint(large) {
            display: none;
        }
    }

    &__namebig {
        display: none;

        @include breakpoint(large) {
            display: block;
            color: white;
            font-size: 14px;
            font-family: $font-family;
            font-weight: 1000;
            position: relative;
            top: 10px;
        }

    }

    &__citybig {
        display: none;

        @include breakpoint(large) {
            display: block;
            color: white;
            font-size: 14px;
            font-family: $font-family;
            position: relative;
            bottom: 15px;
        }
    }

    &__tile {
        padding-left: $padding-left;
        padding-right: $padding-right;


    }
}

.blockquote-box {
    @include breakpoint(large) {
        display: flex;
        justify-content: center;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}


.clients__box-img img {
    width:100%;
}