.footer {

    padding-top: 44px;
    background-color: #184087;

    @include breakpoint(medium) {
        padding-top: 63px;
    }

    &__container {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }


    &__title {
        margin-bottom: 40px;

        @include breakpoint(medium) {
            margin-bottom: 28px;
        }
    }

    &__border {
        padding-left: $padding-left;
        padding-right: $padding-right;
    }

    &__text {
        text-align: center;
    }

    &__box-top {
        margin-bottom: 42px;
    }

    &__box-form {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);

        @include breakpoint(medium) {
            flex-wrap: nowrap;
            padding-bottom: 40px;
            margin-bottom: 42px;
        }

        form {
            width: 100%;

            @include breakpoint(medium) {
                display: flex;
            }
        }

        input {
            display: block;
            width: 100%;
            margin-bottom: 10px;
            height: 60px;
            text-align: center;

            @include breakpoint(medium) {
                width: 30%;
                margin-right: 10px;
            }
        }
    }

    &__box-icons-big {
        display: none;

        @include breakpoint(medium) {
            display: flex;
            justify-content: center;
            padding-top: 23px;
            padding-bottom: 23px;
        }
    }

    &__box-icons {
        display: flex;
        justify-content: center;
        padding-top: 23px;
        padding-bottom: 23px;

        @include breakpoint(medium) {
            display: none;
        }
    }

    &__icon-insta {
        background-image: url(~img/insta.png);
        background-repeat: no-repeat;
        background-position: center;
        height: 50px;
        width: 50px;
        margin-right: 20px;
        margin-left: 20px;

        @include breakpoint(medium) {
            height: 20px;
            margin-right: 20px;
            margin-left: 0px;
            width: 20px;
            background-size: contain;
        }
    }

    &__icon-fb {
        background-image: url(~img/fb.png);
        background-repeat: no-repeat;
        background-position: center;
        height: 50px;
        width: 50px;
        margin-right: 20px;
        margin-left: 20px;

        @include breakpoint(medium) {
            height: 20px;
            width: 10px;
            margin-right: 20px;
            margin-left: 0px;
            background-size: contain;
        }
    }

    &__icon-tweet {
        background-image: url(~img/tweet.png);
        background-repeat: no-repeat;
        background-position: center;
        height: 50px;
        width: 50px;
        margin-right: 20px;
        margin-left: 20px;

        @include breakpoint(medium) {
            margin-right: 20px;
            margin-left: 0px;
            height: 20px;
            width: 20px;
            background-size: contain;
        }
    }

    &__box-icon-text {
        display: flex;
        color: white;

    }

    &__lasttext {
        font-family: $font-family;
        font-size: 15px;
        padding-bottom: 46px;
        letter-spacing: 1px;
        margin-right: 40px;
    }
}