.offert {
    margin-bottom: 43px;
    padding-top:0px;

    @include breakpoint(medium) {
        padding-top: 80px; 
    }

    @include breakpoint(large) {
        padding-bottom: 236px;
    }

    &__border {
        padding-left: $padding-left;
        padding-right: $padding-right;
    }

    &__container {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    &__box-one {
        margin-bottom: 27px;

        @include breakpoint(medium) {
            margin-bottom: 50px;
        }
    }

    &__box-two {
        margin-bottom: 33px;

        @include breakpoint(medium) {
            margin-bottom: 96px;
        }
    }

    &__btn {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-transform: uppercase;

        @include breakpoint(medium) {
            width: 40%;
            margin-left: auto;
            margin-right: auto;
        }
    }


    &__btn-text {
        margin-left: 35px;
    }

    &__arrow {
        background-image: url(~img/arrow.png);
        background-repeat: none;
        width: 15px;
        height: 10px;
        margin-right: 20px;
    }

}