.partners {
    position: relative;
    margin-bottom:30px;
    @include breakpoint(large) {
    margin-bottom: 33px;  
    }

    &__icon {
        background-repeat: no-repeat;
        display: flex;
        height: 75px;
        width: 100px;
        justify-content: center;
        align-items: center;
    }

    &__icon--one {
        background-image: url(~img/logo-1.png);
        background-position: center;
        background-size: contain;

    }

    &__icon--two {
        background-image: url(~img/logo-2.png);
        background-position: center;
        background-size: contain;
    }

    &__icon--three {
        background-image: url(~img/logo-3.png);
        background-position: center;
        background-size: contain;
    }

    &__icon--four {
        background-image: url(~img/logo-4.png);
        background-position: center;
        background-size: contain;
    }

    &__icon--five {
        background-image: url(~img/logo-5.png);
        background-position: center;
        background-size: contain;
    }
}

.slider-2 {
    width: 100%;
    height: 120px;
    background-color: rgba(24, 64, 135, 0.07);
    padding-top: 20px;

    @include breakpoint(medium) {
        height: 180px;
        padding-top: 70px;
    }
}