.projetcts {
    overflow: hidden;
    z-index: 2;
    position: relative;
    padding-top: 42px;
    padding-bottom: 34px;
    background-color: white;

    @include breakpoint(medium) {
        padding-bottom: 54px;
    }
    @include breakpoint(large) {
        margin-top:-100px;
        padding-top: 270px;
        padding-bottom: 0px;
    }

    &__container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }

    &__text {
        margin-bottom: 17px;
 

        @include breakpoint(large) {
            margin-top: 150px;
        }

        @include breakpoint(xxlarge) {
            margin-top: 0px;
            margin-bottom: 30px;
        }
    }

    &__title {
        margin-bottom: 38px;

      

        @include breakpoint(large) {
            margin-bottom: 120px;
        }
    }

    &__tile {
        display: flex;
        flex-wrap: wrap;
        padding-right: $padding-right;


        @include breakpoint(large) {
            width:33.5%;
            padding-right: 0;
            margin-bottom: 60px;
        }
        @include breakpoint(xxxlarge) {
            width: 33.33%;
        }
    }

    &__tile-title {
        font-family: $font-family;
        font-size: 22px;
        letter-spacing: 0.5px;
        color: #184087;
        font-weight: 400;
        margin-bottom: 20px;

        @include breakpoint(large) {
            letter-spacing: 0.005px;
            font-weight: 800;
            font-size: 19px;
        }
    }

    &__tile_img {
        width: 300px;
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
        height: 192px;
        margin-bottom: 23px;

        @include breakpoint(large) {
            height: 290px;
            width: 470px;
            margin-bottom: 45px;
        }
    }

    &__tile-discription {
        font-size: 15px;
        padding-right: 30px;
        letter-spacing: 0.5px;
        color: rgba(24, 64, 135, 0.4);
        font-weight: 400;
        margin-bottom: 20px;

        @include breakpoint(large) {
            margin-bottom: 24px;
        }
    }

    &__tile-webside {
        color: green;
        font-family: $font-family;
        letter-spacing: 0.5px;
        font-size: 15px;
        font-weight: 600;
        width: 100%;
        margin-bottom: 34px;

        @include breakpoint(large) {
            margin-bottom: 0px;
        }
    }

    &__tile-rwd {
        display: flex;
        width: 100%;
        margin-top: 32px;
        margin-bottom: 23px;
    }

    &__tile-rwd-img {
        width: 50px;
        background-repeat: no-repeat;
        background-position-y: 2px;
        margin-right: 11px;
        height: 40px;
        position: relative;
        bottom: 5px;
    }

    &__info {
    padding-right: 50px;
    }

    &__tile-rwd-text {
        font-size: 15px;
        letter-spacing: 0.5px;
        color: #184087;
    }
}

.slick-dots li button {
    background-color: white;
    color: transparent !important;
    border: 2px solid #184087;
}

.slick-dots li button::before {
    font-size: 16px;
    color: #fff;
    opacity: 0.7;
}

.slick-dots li.slick-active button:before {
    color: transparent !important;
    background-color: #184087;
}
 .slick-dots li button {
    background-color: white;
    color: transparent !important;
    border: 2px solid #184087;
}

.slick-dots li button::before {
    font-size: 16px;
    color: #fff;
    opacity: 0.7;
}

.slick-dots li.slick-active button:before {
    color: transparent !important;
    background-color: #184087;
}

.slider-3 {
    @include breakpoint(large) {
        display: flex;
        max-width: 1440px;
        margin-left:auto;
        margin-right:auto;
        flex-wrap: wrap;
        justify-content:space-around;
    }

    @include breakpoint(xxxlarge) {
        padding-left: 0px;
        padding-right: 0px;
        justify-content: center;
    }
}


#slideshow .slick-dots li button {
    background-color:#02AD76;
}

#slideshow .slick-dots li.slick-active button:before {
    color: transparent !important;
    background-color:white;
}

#slideshow .slick-dots li button::before {
    font-size: 16px;
    color: #02AD76;
    opacity: 0.7;
}


